<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>member-lib</display-name>
  <servlet>
  	<servlet-name>ViewServlet</servlet-name>
  	<servlet-class>com.member.lib.servlet.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewServlet</servlet-name>
  	<url-pattern>/views/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MemberServlet</servlet-name>
  	<servlet-class>com.member.lib.servlet.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MemberServlet</servlet-name>
  	<url-pattern>/member/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BookServlet</servlet-name>
  	<servlet-class>com.member.lib.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BookServlet</servlet-name>
  	<url-pattern>/book/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>LentServlet</servlet-name>
  	<servlet-class>com.member.lib.servlet.LentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LentServlet</servlet-name>
  	<url-pattern>/lent/*</url-pattern>
  </servlet-mapping>
  
</web-app>